<!-- FILEPATH: /c:/Users/HP/OneDrive/Desktop/course/DJANGO_COURSE_2.xx/Mera Django/schools/school/templates/about.html -->
{% extends 'base.html' %}
<!DOCTYPE html>
{%block content%}
<html>
<head>
    <title>About Us</title>
</head>
<body>
   <div class="container jumbotron">
    <h1>About Us</h1>
    <p>Welcome to our Employee Management System (EMS) platform! We are committed to delivering an innovative and efficient solution designed to elevate your             organization's workforce management. Our goal is to empower businesses with a comprehensive toolset for handling employee records, ensuring seamless operations       and fostering a productive work environment. Explore the possibilities with our EMS – your dedicated partner in effective workforce management.</p>
   </div>
{%endblock%}
</body>
</html>
